.mainContainer {
    max-width: 1000px;
    width: 100%;
    background-image: radial-gradient(ellipse, rgba(var(--space-black-rgb), 0), rgba(var(--space-black-rgb), 1)),
    url("../../../imgs/cosmic-cliffs.png");
    background-repeat: no-repeat;
    background-attachment: fixed;

    background-color: rgb(var(--space-black-rgb));
    background-size: cover;
}

@media (width > 1000px) {
    .mainContainer {
        filter: drop-shadow(10px 0px 10px #000000);
    }
}