.contentCard {
    display: block;
    padding: 1rem 1rem 1rem 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 2rem 2rem / 1rem 6rem;
    /*backdrop-filter: blur(5px);*/
}

.blueContent {
    background-color: rgba(var(--space-blue-rgb), .75);
}

.magContent {
    background-color: rgba(var(--space-orange-rgb), .75);
}

.orangeContent {
    background-color: rgba(var(--space-mag-rgb), .75);
}

.clearContent {
    background-color: rgba(0, 0, 0, 0);
}

.subContentContainer {
    display: flex;
    justify-content: center;
}
.subContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1rem;
    max-width: 850px;
    /*backdrop-filter: blur(20px);*/
    /*filter: drop-shadow(6px 6px 3px rgb(var(--space-gray-rgb)));*/
    /*border: 3px solid rgb(var(--space-white-rgb));*/

    background-size: 20px 20px;
}

.subContent p {
    color: rgb(var(--space-white-rgb));
    margin: .5rem;
}

.subContent code {
    color: rgb(var(--space-white-rgb));
    margin-left: .5rem;
    margin-right: .5rem;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    font-style: normal;
    font-size: 1.15rem;
    line-height: 1.45rem;
}

.subTitle {
    font-size: 1.25rem;
    color: rgb(var(--space-white-rgb));
    padding-top: .5rem;
    margin-left: .5rem;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.contentHeaderContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.iconContainer {
    flex: 1
}

.emptyContainer {
    flex: 1;
    opacity: 0;
}

.feature {
    padding: .25rem;
    font-size: 1.25rem;
    color: rgb(var(--space-white-rgb));
    font-weight: 400

}

.projectContainer {
    padding: 0;
    margin-bottom: 4rem;
}

.projectHeaderContainer {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-top: .225rem;
    align-items: center;
}

.gitIconContainer {
    justify-content: right;
    float: left;
    display: flex;
}

.titleContainer {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.gitButtonContainer{
    display: inline-block;
}

.gitButton {
    border: 1px solid rgb(var(--space-white-rgb));
    border-radius: 4px;
    -webkit-box-shadow: 4px 4px 3px rgb(var(--space-gray-rgb));
    -moz-box-shadow: 4px 4px 3px rgb(var(--space-gray-rgb));
    box-shadow: 4px 4px 3px rgb(var(--space-gray-rgb));
    padding: .5rem;
}

.pointerContainer {
    display: inline-flex;
    padding: 0;
    margin: 0;
    align-items: center;
}

.timeframeContainer {
    width: 100%;
    margin: 0;
}

.timeframe {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    text-align: left;
    font-weight: bold;
}

.projectContentContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.growContainer {
    flex-grow: 2;
    max-width: 700px;
}
