.skill {
    margin: 0;
    padding: 0;
}

.skillContainer {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
}

.skillBox {
    border: 1px solid rgb(var(--space-white-rgb));
    border-top-left-radius: .5rem;
    padding: .05rem .25rem .05rem .25rem;
}