.bold {
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.italic {
    font-style: italic;
    margin: 0;
    padding: 0;
}

.sub {
    font-size: 1.15rem;
    margin: 0;
    padding: 0
}

.subIndent {
    font-size: 1.00rem;
    margin: 0;
    padding: 0;
    font-style: italic;
}

.eduContainer {
    display: flex;
    flex-wrap: nowrap;
}

.yearContainer {
    display: flex;
    justify-content: left;
    flex-grow: 2;

}

.year {
    font-size: 1rem;
    font-weight: 300;
    font-style: italic;
    padding: 0;
}

.eduGrid {
    display: grid;
    grid-template-columns: 3fr 3fr 1fr;
    gap: 1rem
}