.sideBarNavHidden {
    opacity: 0;
    visibility: hidden;
    top: -20rem;
    transition: visibility 300ms, opacity 300ms ease-in, top 300ms ease-in;
}

.sideBarActive {
    opacity: 1;
    visibility: visible;
    top: 5rem;
    transition: visibility 500ms, opacity 500ms ease-out, top 500ms ease-out;
}

.sideBar {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 20px;
    z-index: 1;
}

