@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: rgb(var(--space-gray-rgb));
  overflow-x: hidden;
  font-size: 16px;
}

:root {
  --white-rgb: 247, 251, 243;
  --aqua-rgb: 119, 196, 213;
  --space-black-rgb: 21,20,26;
  --space-white-rgb: 252,255,250;
  --space-blue-rgb: 34,91,130;
  --space-mag-rgb: 177,100,186;
  --space-gray-rgb: 28,33,55;
}

p {
  font-family: "europa", sans-serif;
  color: rgb(var(--space-white-rgb));
  font-size: 1.25rem;
  padding: 1rem 1rem 1rem 1rem;
  text-align: left;
  line-height: 2rem;
}

.content-title {
  font-family: "eurostile", sans-serif;
  font-weight: bold;
  color: rgb(var(--space-white-rgb));
  font-size: 1.75rem;
  text-align: center;
  display: block;
  filter: drop-shadow(6px 6px 3px rgb(var(--space-gray-rgb)));
}

.emphasis {
  /*font-style: italic;*/
  font-weight: bold;
  filter: drop-shadow(4px 4px 3px rgb(var(--space-gray-rgb)));
}

code {
  font-style: italic;
  font-weight: normal;
}

ul {
  padding-left: 2rem;
}

li {
  list-style-type: disc;
  font-family: "europa", sans-serif;
  color: rgb(var(--space-white-rgb));
  font-size: 1.25rem;
}

/*Responsiveness*/

@media (width < 600px) {

  html {
    font-size: 14px;
  }

  .content-title.responsive {
    text-align: center;
  }
}

.center-content {
  display: flex;
  justify-content: center;
  width: 100vw;
  margin: 0;
  padding: 0;
}

