.contentCard {
    display: flex;
    padding: 1rem 1rem 1rem 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 1rem;
}

.blueContent {
    background-color: rgba(var(--space-blue-rgb), .5);
}

.magContent {
    background-color: rgba(var(--space-mag-rgb), .5);
}

.clearContent {
    background-color: rgba(0,0,0 , 0);
}

